/* 2-common.css */

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*  */
}